.wave-vector {
  stroke-width: 2.357px;
  stroke: var(--Component-colors-Alpha-alpha-white-10, rgba(255, 255, 255, 0.10));

  flex-shrink: 0;
}

#wave-vector-01 {
  width: 33.582px;
  height: 51.021px;

}

#wave-vector-02 {
  width: 110.996px;
  height: 93.44px;

}

#wave-vector-03 {
  width: 188.411px;
  height: 135.858px;

}

#wave-vector-04 {
  width: 265.708px;
  height: 178.395px;

}

#wave-vector-05 {
  width: 343.122px;
  height: 220.814px;

}

#wave-vector-06 {
  width: 420.537px;
  height: 263.233px;

}

#wave-vector-07 {
  width: 497.951px;
  height: 305.77px;

}

#wave-vector-08 {
  width: 575.366px;
  height: 348.189px;

}

#wave-vector-09 {
  width: 652.663px;
  height: 390.608px;

}

#wave-vector-10 {
  width: 730.077px;
  height: 433.145px;

}

#wave-vector-11 {
  width: 807.492px;
  height: 475.564px;

}

#wave-vector-12 {
  width: 884.906px;
  height: 517.983px;

}

#wave-vector-13 {
  width: 962.203px;
  height: 560.519px;

}

#wave-vector-14 {
  width: 1039.618px;
  height: 602.938px;

}

#wave-vector-15 {
  width: 1117.032px;
  height: 645.475px;

}

#wave-vector-16 {
  width: 1194.447px;
  height: 687.894px;

}

#wave-vector-17 {
  width: 1271.862px;
  height: 730.313px;

}

#wave-vector-18 {
  width: 1349.158px;
  height: 772.85px;

}

#wave-vector-19 {
  width: 1426.573px;
  height: 815.269px;

}

#wave-vector-20 {
  width: 1503.988px;
  height: 857.688px;

}

#wave-vector-21 {
  width: 1581.402px;
  height: 900.224px;

}

#wave-vector-22 {
  width: 1658.699px;
  height: 942.643px;

}

/* #wave-vector-23 {
  width: 33.582px;
  height: 50.903px;

}

#wave-vector-24 {
  width: 110.996px;
  height: 93.44px;

}

#wave-vector-25 {
  width: 188.411px;
  height: 135.858px;

}

#wave-vector-26 {
  width: 265.825px;
  height: 178.395px;

}

#wave-vector-27 {
  width: 343.122px;
  height: 220.814px;

}

#wave-vector-28 {
  width: 420.537px;
  height: 263.351px;

}

#wave-vector-29 {
  width: 497.834px;
  height: 305.77px;

}

#wave-vector-30 {
  width: 575.366px;
  height: 348.189px;

}

#wave-vector-31 {
  width: 652.781px;
  height: 390.726px;

}

#wave-vector-32 {
  width: 730.195px;
  height: 433.145px;

}

#wave-vector-33 {
  width: 807.492px;
  height: 475.564px;

}

#wave-vector-34 {
  width: 884.906px;
  height: 518.1px;

}

#wave-vector-35 {
  width: 962.321px;
  height: 560.519px;

} */

#wave-vector-36 {
  width: 1039.736px;
  height: 602.938px;

}

#wave-vector-37 {
  width: 1117.032px;
  height: 645.475px;

}

#wave-vector-38 {
  width: 1194.447px;
  height: 687.894px;

}

#wave-vector-39 {
  width: 1271.862px;
  height: 730.313px;

}

#wave-vector-40 {
  width: 1349.276px;
  height: 772.85px;

}

#wave-vector-41 {
  width: 1426.691px;
  height: 815.269px;

}

#wave-vector-42 {
  width: 1503.988px;
  height: 857.688px;

}

#wave-vector-43 {
  width: 1581.402px;
  height: 900.224px;

}

#wave-vector-44 {
  width: 1658.817px;
  height: 942.643px;

}