@import url(../../global-style/fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

/* button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
} */

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 1440px;
  height: 900px;
  justify-content: center;
  align-items: flex-start;
  background: var(--Colors-Background-bg-primary, #FFF);
}

.content-area {
  display: flex;
  width: 720px;
  padding: var(--spacing-6xl, 48px) 32px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-5xl, 40px);
  flex-shrink: 0;
  align-self: stretch;
  border-radius: var(--radius-3xl, 24px);
  background: var(--Main-Background-bg-primary, #FFF);
}

.logo-wrapper {
  display: flex;
  width: 238.448px;
  height: 92px;
  padding: 12.267px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 213.915px;
  height: 67.467px;
  flex-shrink: 0;
}

.content-wrapper {
  display: flex;
  width: 420px;
  max-width: 420px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-4xl, 32px);
}

.header {
  align-self: stretch;

  color: var(--colors-text-text-primary-900, #101828);
  text-align: center;

  /* Display sm/Bold */
  font-family: "Be Vietnam Pro", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  /* 126.667% */
  line-height: 38px;
}

.form-and-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl, 24px);
  align-self: stretch;
  border-radius: var(--spacing-lg, 12px);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2xl, 20px);
  align-self: stretch;
}

.name-row {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  width: 100%;
}

.label-input-hint-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm, 6px);
  flex: 1 0 0;
}

.label-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
}

.label-wrapper {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
}

.label-inner-wrapper {
  display: flex;
  align-items: center;
  flex: 1 0 0;
}

.label {
  color: var(--main-text-text-secondary-700, #344054);

  /* Text sm/Semibold */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
}

.require-asterisk {
  color: var(--main-text-text-error-primary-600, #D92D20);

  /* Text sm / Bold */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

.input-wrapper {
  display: flex;
  height: 39px;
  width: 100%;
  padding: 10px 14px;
  align-items: center;
  gap: var(--spacing-md, 8px);
  align-self: stretch;

  border-radius: var(--radius-md, 12px);
  border: 1px solid var(--Main-Border-border-secondary, #EAECF0);
  background: var(--Main-Background-bg-primary, #FFF);
}

.input-wrapper:focus-within {
  border-color: black;
}


.input-text {
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-line-clamp: 1; */
  flex: 1 0 0;

  overflow: hidden;
  color: var(--Main-Text-text-placeholder, #667085);
  text-overflow: ellipsis;

  /* Text sm/Regular */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  border: none;
}

.input-text:focus {
  border: none;
  outline: none;
}

.password-eye-button {
  border: none;
  background-color: transparent;
}

.action-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-3xl, 24px);
  align-self: stretch;
}

.get-started-button {
  display: flex;
  padding: 10px var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;

  border-radius: var(--radius-md, 12px);
  border: 1px solid var(--Component-colors-Components-Buttons-Primary-button-primary-border, #0C6FF3);
  background: var(--Component-colors-Components-Buttons-Primary-button-primary-bg, #0C6FF3);
}

.get-started-text-wrapper {
  display: flex;
  padding: var(--spacing-none, 0px) var(--spacing-xxs, 2px);
  justify-content: center;
  align-items: center;
}

.get-started-text {
  color: var(--Component-colors-Components-Buttons-Primary-button-primary-fg, #FFF);

  /* Text md/Semibold */
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.term-and-policy-alert {
  align-self: stretch;

  color: var(--main-text-text-secondary-700, #344054);

  /* Text sm/Regular */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */


}

a {
  color: var(--main-text-text-brand-tertiary-600, #0B5DCC);

  /* Text sm/Regular */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.or-divider {
  display: flex;
  align-items: center;
  gap: var(--spacing-md, 8px);
  align-self: stretch;
}

.left-divider,
.right-divider {
  height: 1px;
  flex: 1 0 0;

  background: var(--Main-Border-border-secondary, #EAECF0);
}

.or-text {
  color: var(--main-text-text-tertiary-600, #475467);
  text-align: center;

  /* Text sm/Medium */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.social-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg, 12px);
  align-self: stretch;
}

.social-button {
  display: flex;
  padding: 10px var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg, 12px);
  align-self: stretch;

  border-radius: var(--radius-md, 12px);
  border: 1px solid var(--Main-Border-border-secondary, #EAECF0);
  background: var(--Main-Background-bg-primary, #FFF);
}

.social-icon {
  width: 24px;
  height: 24px;
}

.social-button-text {
  color: var(--main-text-text-secondary-700, #344054);

  /* Text md/Semibold */
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.log-in {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: var(--spacing-xs, 4px);
  align-self: stretch;
}

.already-have-an-account {
  color: var(--colors-text-text-tertiary-600, #475467);

  /* Text sm/Regular */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.log-in-button {
  display: flex;
  padding: var(--spacing-none, 0px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs, 4px);

  border-radius: var(--radius-md, 12px);
  border: none;

  color: var(--Component-colors-Components-Buttons-Tertiary-color-button-tertiary-color-fg, #0B5DCC);

  /* Text sm/Semibold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */

  background-color: transparent;
}


button:hover {
  cursor: pointer;
}




/* ==================== */

.poster-area {
  width: 720px;
  height: 900px;
  flex-shrink: 0;
  background: var(--Main-Background-bg-brand-solid, #0C6FF3);
}

.background-wrapper {
  width: 1697.465px;
  height: 945px;
  flex-shrink: 0;
  opacity: 0.72;
}

.background-waves-wrapper1 {
  width: 1658.699px;
  height: 942.643px;
  flex-shrink: 0;
}

.background-waves-wrapper2 {
  width: 1658.817px;
  height: 942.644px;
  flex-shrink: 0;
}

.wave-vector {
  stroke-width: 2.357px;
  stroke: var(--Component-colors-Alpha-alpha-white-10, rgba(255, 255, 255, 0.10));

  flex-shrink: 0;
}

#wave-vector-01 {
  width: 33.582px;
  height: 51.021px;

}

#wave-vector-02 {
  width: 110.996px;
  height: 93.44px;

}

#wave-vector-03 {
  width: 188.411px;
  height: 135.858px;

}

#wave-vector-04 {
  width: 265.708px;
  height: 178.395px;

}

#wave-vector-05 {
  width: 343.122px;
  height: 220.814px;

}

#wave-vector-06 {
  width: 420.537px;
  height: 263.233px;

}

#wave-vector-07 {
  width: 497.951px;
  height: 305.77px;

}

#wave-vector-08 {
  width: 575.366px;
  height: 348.189px;

}

#wave-vector-09 {
  width: 652.663px;
  height: 390.608px;

}

#wave-vector-10 {
  width: 730.077px;
  height: 433.145px;

}

#wave-vector-11 {
  width: 807.492px;
  height: 475.564px;

}

#wave-vector-12 {
  width: 884.906px;
  height: 517.983px;

}

#wave-vector-13 {
  width: 962.203px;
  height: 560.519px;

}

#wave-vector-14 {
  width: 1039.618px;
  height: 602.938px;

}

#wave-vector-15 {
  width: 1117.032px;
  height: 645.475px;

}

#wave-vector-16 {
  width: 1194.447px;
  height: 687.894px;

}

#wave-vector-17 {
  width: 1271.862px;
  height: 730.313px;

}

#wave-vector-18 {
  width: 1349.158px;
  height: 772.85px;

}

#wave-vector-19 {
  width: 1426.573px;
  height: 815.269px;

}

#wave-vector-20 {
  width: 1503.988px;
  height: 857.688px;

}

#wave-vector-21 {
  width: 1581.402px;
  height: 900.224px;

}

#wave-vector-22 {
  width: 1658.699px;
  height: 942.643px;

}

/* #wave-vector-23 {
  width: 33.582px;
  height: 50.903px;

}

#wave-vector-24 {
  width: 110.996px;
  height: 93.44px;

}

#wave-vector-25 {
  width: 188.411px;
  height: 135.858px;

}

#wave-vector-26 {
  width: 265.825px;
  height: 178.395px;

}

#wave-vector-27 {
  width: 343.122px;
  height: 220.814px;

}

#wave-vector-28 {
  width: 420.537px;
  height: 263.351px;

}

#wave-vector-29 {
  width: 497.834px;
  height: 305.77px;

}

#wave-vector-30 {
  width: 575.366px;
  height: 348.189px;

}

#wave-vector-31 {
  width: 652.781px;
  height: 390.726px;

}

#wave-vector-32 {
  width: 730.195px;
  height: 433.145px;

}

#wave-vector-33 {
  width: 807.492px;
  height: 475.564px;

}

#wave-vector-34 {
  width: 884.906px;
  height: 518.1px;

}

#wave-vector-35 {
  width: 962.321px;
  height: 560.519px;

} */

#wave-vector-36 {
  width: 1039.736px;
  height: 602.938px;

}

#wave-vector-37 {
  width: 1117.032px;
  height: 645.475px;

}

#wave-vector-38 {
  width: 1194.447px;
  height: 687.894px;

}

#wave-vector-39 {
  width: 1271.862px;
  height: 730.313px;

}

#wave-vector-40 {
  width: 1349.276px;
  height: 772.85px;

}

#wave-vector-41 {
  width: 1426.691px;
  height: 815.269px;

}

#wave-vector-42 {
  width: 1503.988px;
  height: 857.688px;

}

#wave-vector-43 {
  width: 1581.402px;
  height: 900.224px;

}

#wave-vector-44 {
  width: 1658.817px;
  height: 942.643px;

}

.main-section-wrapper {
  width: 655px;
  height: 678px;
  top: 64px;
  left: 32px;
  gap: 0px;
  opacity: 0px;

  flex-shrink: 0;
}

.mirror-background {
  width: 605px;
  height: 678px;
  flex-shrink: 0;
  border-radius: 1226.688px 1226.688px 14.72px 14.72px;
  background: #7CBBFF;
}

#heart-1 {
  width: 553.236px;
  height: 486.995px;
  flex-shrink: 0;
  fill: var(--Secondary-Cyan, #B1E5FC);
  opacity: 0.5;
  filter: blur(122.66880798339844px);
}

#heart-2 {
  width: 553.236px;
  height: 486.995px;
  flex-shrink: 0;
  fill: var(--Blue, #0C6FF3);
  opacity: 0.5;
  filter: blur(122.66880798339844px);
}

#shadow {
  width: 32px;
  height: 32px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  border-radius: 8px;
  border: 0.93px solid var(--Component-colors-Alpha-alpha-white-30, rgba(255, 255, 255, 0.30));
  background: url(<path-to-image>) lightgray 50% / cover no-repeat, var(--Component-colors-Alpha-alpha-white-20, rgba(255, 255, 255, 0.20));
  backdrop-filter: blur(11.164772987365723px);
}

#star-1 {
  fill: #FFF;
  opacity: 0.9;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

#star-2 {
  fill: #FFF;
  opacity: 0.9;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.graph-wrapper {
  display: flex;
  width: 655px;
  padding: var(--spacing-none, 0px) 29.773px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 74.432px;
}

#graph {
  display: flex;
  padding: 22.33px;
  flex-direction: column;
  align-items: center;
  border-radius: 37.216px;
  border: 0.93px solid var(--Component-colors-Alpha-alpha-white-20, rgba(255, 255, 255, 0.20));
  background: url(<path-to-image>) lightgray 0% 0% / 46.51988744735718px 46.51988744735718px repeat, var(--Component-colors-Alpha-alpha-white-10, rgba(255, 255, 255, 0.10));
}

.chart-wrapper {
  width: 62.973px;
  height: 62.973px;
  flex-shrink: 0;
}

.chart-inner-wrapper {
  display: flex;
  width: 62.973px;
  height: 62.973px;
  padding: var(--spacing-none, 12.825px) var(--spacing-none, 12.553px) var(--spacing-none, 12.364px) var(--spacing-none, 12.636px);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12.595px;
  border: 0.5px solid rgba(255, 255, 255, 0.60);
  background: linear-gradient(88deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.47) 98.94%);
  backdrop-filter: blur(1.0001702308654785px);
}

#pie-chart {
  width: 37.784px;
  height: 37.784px;
  flex-shrink: 0;
}