@import url(../../global-style/fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
} */

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  width: 1440px;
  height: 900px;
  justify-content: center;
  align-items: flex-start;
  background: var(--Colors-Background-bg-primary, #FFF);
}

.poster-area {
  width: 720px;
  height: 900px;
  flex-shrink: 0;
  background: var(--Main-Background-bg-brand-solid, #0C6FF3);
}

.content-area {
  display: flex;
  width: 720px;
  padding: var(--spacing-6xl, 48px) 32px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-7xl, 64px);
  flex-shrink: 0;
  align-self: stretch;
  border-radius: var(--radius-3xl, 24px);
  background: var(--Main-Background-bg-primary, #FFF);
}

.logo-wrapper {
  display: flex;
  width: 238.448px;
  height: 92px;
  padding: 12.267px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 213.915px;
  height: 67.467px;
  flex-shrink: 0;
}

.content-wrapper {
  display: flex;
  width: 420px;
  max-width: 420px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4xl, 32px);
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3xl, 24px);
  align-self: stretch;
}

.mail-icon-wrapper {
  display: flex;
  padding: 14px;
  align-items: center;
  /* gap: 10px; */

  border-radius: var(--spacing-lg, 12px);
  border: 1px solid var(--Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border, #EAECF0);

  /* Shadows/shadow-xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  /* my adjust */
  height: 56px;
  width: 56px;
}

#mail-icon {
  width: 28px;
  height: 28px;
}

.header-and-announcement-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-lg, 12px);
  align-self: stretch;
}

.header {
  align-self: stretch;

  color: var(--colors-text-text-primary-900, #101828);
  text-align: center;

  /* Display sm/Bold */
  font-family: "Be Vietnam Pro", Helvetica;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  /* 126.667% */
  line-height: 38px;
}

.announcement-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.we-send-a-verification-code-to {
  color: var(--colors-text-text-tertiary-600, #475467);
  text-align: center;

  /* Text md/Regular */
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.email-address {
  color: var(--colors-text-text-tertiary-600, #475467);
  text-align: center;

  /* Text md/Bold */
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.verification-code-input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
}

.label-and-all-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;
}

#hidden-label {
  color: var(--main-text-text-secondary-700, #344054);

  /* Text sm/Medium */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.all-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.input-wrapper {
  display: flex;
  width: 80px;
  min-height: 80px;
  padding: var(--spacing-md, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md, 8px);
  border-radius: var(--radius-lg, 14px);
  border: 2px solid var(--Main-Border-border-brand-solid, #0C6FF3);
  background: var(--Main-Background-bg-primary, #FFF);
}

.input-wrapper:focus-within {
  box-shadow: 0px 1px 2px 0px rgba(20, 118, 249, 0.05), 0px 0px 0px 4px rgba(20, 118, 249, 0.24);
}

.input-digit {
  align-self: stretch;
  color: var(--main-text-text-brand-tertiary-500, #0C6FF3);
  text-align: center;

  /* Display lg/Medium */
  font-family: "Be Vietnam Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  /* 125% */
  letter-spacing: -0.96px;

  border: none;
}

.input-digit:focus {
  border: none;
  outline: none;
}

.wrong-code-alert {
  color: var(--main-text-text-error-primary-600, #D92D20);

  /* Text sm/Regular */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */

  display: none;
}

.blue-button {
  display: flex;
  padding: 10px var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm, 6px);
  align-self: stretch;

  border-radius: var(--radius-md, 12px);
  border: 1px solid var(--Component-colors-Components-Buttons-Primary-button-primary-border, #0C6FF3);
  background: var(--Component-colors-Components-Buttons-Primary-button-primary-bg, #0C6FF3);
}

.blue-button-text-wrapper {
  display: flex;
  padding: var(--spacing-none, 0px) var(--spacing-xxs, 2px);
  justify-content: center;
  align-items: center;
}

.blue-button-text {
  color: var(--Component-colors-Components-Buttons-Primary-button-primary-fg, #FFF);

  /* Text md/Semibold */
  font-family: "Lato", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}


.not-this-page {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: var(--spacing-xs, 4px);
  align-self: stretch;
}

.question {
  color: var(--colors-text-text-tertiary-600, #475467);

  /* Text sm/Regular */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.another-option {
  display: flex;
  padding: var(--spacing-none, 0px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xs, 4px);

  border-radius: var(--radius-md, 12px);
  border: none;

  color: var(--Component-colors-Components-Buttons-Tertiary-color-button-tertiary-color-fg, #0B5DCC);

  /* Text sm/Semibold */
  font-family: "Lato", Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */

  background-color: transparent;
}